html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

*:before {
  padding: 0;
  margin: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.is-hidden {
  display: none; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  color: currentColor; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Regular.otf.woff") format("woff"), url("../fonts/SourceSerifPro-Regular.ttf") format("truetype");
  font-weight: regular;
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Light.otf.woff") format("woff"), url("../fonts/SourceSerifPro-Light.ttf") format("truetype");
  font-weight: lighter;
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-ExtraLight.otf.woff") format("woff"), url("../fonts/SourceSerifPro-ExtraLight.ttf") format("truetype");
  font-weight: bold;
  font-weight: 100;
  font-style: normal; }
body {
  font-weight: 400;
  font-family: "Source Serif Pro", serif; }

h1, h2, h3, h4, h5 {
  margin-bottom: .5em;
  line-height: 1.25; }

h1 {
  font-size: 3em;
  font-weight: 300; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

p {
  line-height: 1.5em; }
  p + p {
    margin-top: 1rem; }

a {
  color: #34495e;
  text-decoration: none; }

.scroll-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; }

.scroll-content {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

.iScrollVerticalScrollbar[style] {
  width: .5rem !important;
  background-color: #e8eaeb;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important; }

.iScrollIndicator[style] {
  border-radius: 0 !important;
  border: 0 !important; }

header {
  text-align: center;
  padding: 1rem 1rem 0; }
  @media screen and (max-width: 770px) {
    header {
      padding: 0.5rem 0.5rem 0; } }
  header .header-logo {
    background: url("../images/transpose-logo.svg") no-repeat 50%;
    background-size: contain;
    height: 5em; }
    @media screen and (max-width: 770px) {
      header .header-logo {
        height: 2.25em; } }
  header h1 {
    letter-spacing: .15em;
    font-weight: 100;
    font-size: 3em;
    color: #3A3B3D;
    visibility: hidden;
    margin: 0; }
    @media screen and (max-width: 770px) {
      header h1 {
        font-size: 2em;
        margin-bottom: 0; } }

h2 {
  margin-bottom: 1rem;
  letter-spacing: .05em;
  font-weight: 100;
  font-size: 1.75em; }
  @media screen and (max-width: 770px) {
    h2 {
      font-size: 1.25em;
      margin-bottom: 0.5rem; } }

.main-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center; }
  .main-content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 770px) {
    .main-content {
      padding: 0.5rem; } }

.sharp, .flat {
  font-size: 75%;
  position: relative; }

.sharp {
  top: -.125em;
  left: 0; }

.flat {
  top: -.125em;
  left: -.1em; }

.instrument {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  padding: 0.5rem; }
  .instrument:last-child {
    margin-right: 0; }
  @media screen and (max-width: 770px) {
    .instrument {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 40.2913699012%;
      margin-bottom: 0.5rem; }
      .instrument:last-child {
        margin-right: 0; } }
  .instrument-selection {
    overflow: auto;
    margin: 0 auto 2rem;
    max-width: 34em; }
    @media screen and (max-width: 770px) {
      .instrument-selection {
        margin-bottom: 0.5rem; } }

.arrow-container {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  margin-top: .75em;
  color: #959EA5;
  font-size: 4em; }
  .arrow-container:last-child {
    margin-right: 0; }
  @media screen and (max-width: 770px) {
    .arrow-container {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 14.7019570017%;
      font-size: 2em;
      margin-top: 2rem;
      padding: 0.5rem 0; }
      .arrow-container:last-child {
        margin-right: 0; } }

.button {
  display: inline-block;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid #bec4c8;
  border-radius: .25em;
  background-color: white;
  color: #3A3B3D;
  vertical-align: top;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all .1s linear;
          transition: all .1s linear;
  -webkit-tap-highlight-color: transparent; }
  @media screen and (max-width: 770px) {
    .button {
      height: 5rem;
      width: 5rem;
      padding: 0.25rem; } }
  .button.is-selected, .button:hover {
    box-shadow: 0 0 0 0.25rem #007FB2;
    border-color: transparent;
    color: #007FB2; }
  .button .icon {
    height: 4rem;
    width: 4rem;
    margin-bottom: 0.5rem; }
    @media screen and (max-width: 770px) {
      .button .icon {
        height: 2rem;
        width: 2rem;
        margin-bottom: 0.5rem; } }
  .button .icon-note {
    padding: .5rem; }
    @media screen and (max-width: 770px) {
      .button .icon-note {
        height: 2rem;
        width: 2rem;
        padding: .25rem; } }
  .button .instrument-name {
    display: block;
    font-size: 1.5rem; }
    @media screen and (max-width: 770px) {
      .button .instrument-name {
        font-size: .875rem; } }

.button-empty {
  border: 0.25em dashed #959EA5;
  color: #959EA5;
  padding: 0.25rem; }
  .button-empty.is-selected, .button-empty:hover {
    box-shadow: none;
    border-color: #007FB2;
    background-color: white;
    color: #007FB2; }
  .button-empty .icon {
    font-size: 2rem;
    margin-top: 0.5rem; }
    @media screen and (max-width: 770px) {
      .button-empty .icon {
        margin-top: 1rem; } }
  .button-empty .instrument-name {
    font-size: 1.25rem;
    line-height: 1.25; }
    @media screen and (max-width: 770px) {
      .button-empty .instrument-name {
        display: none !important; } }

.icon-note {
  fill: white;
  background: #bec4c8;
  padding: .3rem;
  border-radius: 50%; }

.instrument-selector {
  position: absolute;
  top: 10em;
  left: 50%;
  z-index: 100;
  overflow: hidden;
  margin-left: -10.5em;
  padding: 0.5rem;
  width: 21em;
  height: 22em;
  border: 1px solid #ccd0d4;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center; }
  @media screen and (max-width: 770px) {
    .instrument-selector {
      top: 5em; } }

.instrument-list {
  overflow: auto;
  margin: 0.5rem 0.425rem;
  z-index: 999; }
  .instrument-list input {
    position: absolute;
    margin: -999em; }
  .instrument-list li {
    display: inline-block;
    float: left;
    width: 5rem;
    height: 5rem;
    border-bottom: 1px solid #ccd0d4;
    border-right: 1px solid #ccd0d4; }
    .instrument-list li:nth-child(4n) {
      border-bottom: 1px solid #ccd0d4;
      border-right: 0; }
    .instrument-list li:nth-last-of-type(-n+4) {
      border-bottom: 0; }
  .instrument-list label {
    display: block;
    padding: 0.5rem;
    width: 100%;
    height: 5rem;
    color: #3A3B3D;
    text-align: center;
    font-size: .75em;
    cursor: pointer; }
  .instrument-list input:checked + label {
    background-color: rgba(0, 127, 178, 0.3); }
  .instrument-list .icon {
    display: block;
    margin: 0 auto 0.5rem;
    font-size: 3em; }

.answer-container {
  margin: 1rem auto 2rem;
  max-width: 16em;
  height: 5rem;
  font-size: 2em;
  line-height: 1.25; }
  @media screen and (max-width: 770px) {
    .answer-container {
      width: 90%;
      height: 3rem;
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 1rem; } }
  .answer-container h2 {
    font-size: 2rem;
    padding-top: 1rem;
    margin: 0; }
    @media screen and (max-width: 770px) {
      .answer-container h2 {
        font-size: 1.25rem; } }

.error-message {
  color: #FE3D42;
  font-weight: 400; }

.error-message-source, .error-message-transpose {
  padding-top: 1rem; }

.circle-menu {
  margin: 1rem auto;
  width: 24em;
  height: 24em; }
  @media screen and (max-width: 700px) {
    .circle-menu {
      width: 18em;
      height: 18em;
      margin: 0.5rem auto 0; } }
  .circle-menu svg {
    display: block;
    overflow: visible;
    margin: 0 auto; }
  .circle-menu a {
    outline: none;
    cursor: pointer;
    /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */ }
  .circle-menu symbol {
    overflow: visible; }

.notes-container .note {
  font-size: 2.5em; }
.notes-container .with-enharmonic {
  font-size: 2em; }
  .notes-container .with-enharmonic .flat, .notes-container .with-enharmonic .sharp {
    font-size: 60%; }
.notes-container .enharmonic {
  font-size: 1.75rem;
  fill: #959EA5; }

.item {
  color: #3A3B3D;
  -webkit-tap-highlight-color: transparent; }
  .item .note {
    fill: #535457; }
  .item:hover .sector {
    fill: #eee; }
  .item .sector {
    -webkit-transition: all .1s linear;
            transition: all .1s linear;
    fill: #fff;
    stroke: #959EA5; }
  .item .indicator {
    display: none;
    fill: #FF951E; }

.is-selected .sector, .is-selected.item:hover .sector {
  fill: #007FB2; }
.is-selected .note, .is-selected.item:hover .note {
  fill: white; }

.is-transposed .indicator, .is-transposed:hover .indicator {
  display: block; }

.menu-trigger {
  pointer-events: auto;
  fill: #959EA5; }
