    #menu {
        display: block;
        margin: 0 auto;
        overflow: visible;
    }

    a { 
        cursor: pointer; /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */
        outline: none;
    }
    
    .item {
        color: $default;
        
        use {
            fill: lighten($default, 10%);
        }
        
        .sector {
            transition: all .1s linear;
            fill: #fff;
            stroke: $info;
        }
    }

    .notes-container {
        symbol {
            font-size: 2.5em;
        }

        symbol.with-enharmonic {
            font-size: 2em;
            
            text.flat-sharp {
                font-size: 60%;
            }
        }
        
        text.enharmonic {
            fill: $info;
            font-size: 1.75rem;
        }
    }
    
    .item:hover .sector {
        fill: #eee;
    }
    
    .is-selected, .is-selected.item:hover {
        
        .sector {
            fill: $secondary;        
        }
        
        use {
            fill: white !important;
        }
    }
    
    .indicator {
        fill: $primary !important;
    }

    .item .indicator {
        visibility: hidden !important;
    }

    .item.is-transposed, .item.is-transposed:hover {
    
        .sector {
            //fill: transparentize($primary, .4);
        }    
        
        .indicator {
            visibility: visible !important;
        }        
    }

    .menu-trigger {
        fill: $info;
        pointer-events: auto; /* KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
    }

    .menu-trigger:hover, .menu-trigger:focus {
        cursor: pointer;
    }
    
    symbol {
        overflow: visible; /* KEEP THIS so that text will not get cut off it it is wider than the icon width */
    }
    
    .circle-menu {
        width: 24em;
        height: 24em;
        margin: 2em auto;
        
        @include media($phone) {
            width: 18em;
            height: 18em;
        }
    }
