.instrument {
    @include span-columns(4);
    padding: spacer(.5);
        
    @include media($mobile) {
        @include span-columns(5);
        margin-bottom: spacer(.5);
    }
    
    &-selection {
        overflow: auto;
        margin: 0 auto spacer(1);
        max-width: 34em;
    }    
}

.arrow-container {
    @include span-columns(4);
    margin-top: .75em;            
    color: $info;
    font-size: 4em;

    @include media($mobile) {
        @include span-columns(2);
        font-size: 2em;
        margin-top: spacer(2);
        padding: spacer(.5) 0;
    }
}

.button {
    display: inline-block;
    padding: spacer(1);
    width: 10rem;
    height: 10rem;
    border: 1px solid lighten($info, 15%);
    border-radius: .25em;
    background-color: white;
    color: $default;
    vertical-align: top;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: all .1s linear;

    @include media($mobile) {
        height: 5rem;
        width: 5rem;
        padding: spacer(.25);
    }
    
    &.is-selected, &:hover {
        box-shadow: 0 0 0 .25rem $secondary;
        border-color: transparent;
        color: $secondary;
    }
    
    .icon {
        height: 4rem;
        width: 4rem;
        margin-bottom: spacer(.5);
        
        @include media($mobile) {
            height: 2rem;
            width: 2rem;
            margin-bottom: spacer(.5);
        }
    }

    .icon-note {
        padding: .5rem;
        
        @include media($mobile) {
            height: 2rem;
            width: 2rem;
            padding: .25rem;
        }
    }
    
    .instrument-name {
        display: block;
        font-size: 1.5rem;

        @include media($mobile) {
            font-size: .875rem;
        }
    }
}

.button-empty {
    border: .25em dashed $info;
    color: $info;
    padding: spacer(.25);
    
    &.is-selected, &:hover {
        box-shadow: none;
        border-color: $secondary;
        background-color: white;
        color: $secondary;
    }
    
    .icon {
        font-size: 2rem;
        margin-top: spacer(.5);

        @include media($mobile) {
            margin-top: spacer(1);
        }
    }
            
    .instrument-name {
        font-size: 1.25rem;
        line-height: 1.25;

        @include media($mobile) {
            display: none !important;
        }
    }
}

.icon-note {
    fill: white;
    background: lighten($info, 15%);
    padding: .3rem;
    border-radius: 50%;    
}
