//@import "reset";
@import "utility";
@import "bourbon";
@import "neat";
@import "variables";

//@import 'iscroll';
@import 'svg-menu';

.page-content {
    padding: 2em;
}

.tr-selection__arrow {
    margin-top: .75em;            
    color: $info;
    font-size: 4em;
    text-align: center;
}

.mdl-card__title .icon {
    position: absolute;
    font-size: 4em;
}

.mdl-card__title {
    color: #fff;
    background: $secondary;
}

$selector-size: 22em;
$selector-margin: $selector-size / 2;
$border-color: lighten($info, 20%);

.tr-selector {
    overflow: hidden;
}

.mdl-card__supporting-text {
    width: 100%;
}

.tr-instruments__list {
    overflow: auto;
    padding: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    z-index: 999;
    
    input {
        position: absolute;
        margin: -999em;
    }
    
    li {
        $list-border: 1px solid $border-color;
        
        display: inline-block;
        float: left;
        width: 25%;
        height: 5rem;
        border-bottom: $list-border;
        border-right: $list-border;
        
        &:nth-child(4n) {
            border-bottom:  $list-border;
            border-right: 0;
        }

        &:nth-last-of-type(-n+4) {
            border-bottom: 0;
        }        
    }
    
    .instruments__name {
        display: inline-block;
        line-height: 1;
    }
    
    label {
        display: block;
        padding: spacer(.5);
        width: 100%;
        height: 5rem;
        color: $default;
        text-align: center;
        font-size: .75em;
        cursor: pointer;       
    }

    input:checked + label {
        background-color: transparentize($secondary, .7);
    }
    
    .icon {
        display: block;
        margin: 0 auto spacer(.5);
        font-size: 3em;
    } 
}

@import 'messages';