@import "reset";
@import "utility";
@import "bourbon";
@import "neat";
@import "variables";

$dark-blue: #34495e;
$mobile: new-breakpoint(max-width 770px 12);

@import "typography";
@import "iscroll";

header {
    text-align: center;
    padding: spacer(1) spacer(1) 0;

    h1 {
        letter-spacing: .15em;
        font-weight: 100;
        font-size: 4em;
        color: $default;

        @include media($mobile) {
            font-size: 2em;
            margin-bottom: 0;           
        }    
    }
}

h2 {
    margin: spacer(2) 0;
    letter-spacing: .05em;
    font-weight: 100;
    font-size: 1.75em;

    @include media($mobile) {
        font-size: 1.25em;
        margin: spacer(1) 0 spacer(.5);;            
    }    
}

.main-content {
    @include outer-container;
    padding: spacer(1);
    text-align: center;
}

.sharp, .flat {
    font-size: 75%;
    position: relative;    
}

.sharp {
    top: -.125em;
    left: 0;
}

.flat {
    top: -.125em;
    left: -.1em;
}

@import 'instrument-selection';
@import 'instrument-selector';
@import 'answers';
//@import 'css-menu';
@import 'svg-menu';