.instrument {
  --icon-size: 2rem;

  align-items: center;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-half);
  justify-content: center;
}

.stretch {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  justify-content: center;
}

.icon {
  display: inline-block;
  font-size: calc(var(--icon-size) * 0.65);
  line-height: 1;
}

.name {
  display: block;
  font-size: 0.75rem;
}

.addIcon,
.keyIcon {
  --size: 0.875em;

  align-items: center;
  background: currentcolor;
  block-size: var(--size);
  border-radius: 50%;
  display: inline-flex;
  inline-size: var(--size);
  justify-content: center;
  margin: 0.125em;
  padding: 0.25em;
}

.addIcon .iconInternal,
.keyIcon .iconInternal {
  color: var(--white);
  font-size: 0.5em;
}

@media (width >= 45rem) {
  .instrument {
    --icon-size: 2.5rem;
  }

  .stretch {
    gap: 0.5rem;
  }

  .icon {
    font-size: var(--icon-size);
  }

  .name {
    font-size: 0.875rem;
  }
}
