.instrument {
  --icon-size: 2.5rem;

  block-size: 100%;
}

.stretch {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.icon {
  display: inline-block;
  font-size: calc(var(--icon-size) * 0.75);
  line-height: 1;
}

.name {
  display: block;
  font-size: 0.875rem;
}

.keyIcon {
  align-items: center;
  background: currentcolor;
  block-size: 1em;
  border-radius: 50%;
  display: inline-flex;
  font-size: var(--icon-size);
  inline-size: 1em;
  justify-content: center;
  padding: 0.5rem;
}

.keyIcon .iconInternal {
  color: var(--white);
}

@media (width <= 768px) {
  .stretch {
    gap: 0.25rem;
  }

  .icon {
    font-size: calc(var(--icon-size) * 0.65);
  }

  .name {
    font-size: 0.8125rem;
  }

  .keyIcon {
    font-size: calc(var(--icon-size) * 0.85);
  }
}

@media (width >= 45rem) {
  .icon {
    font-size: var(--icon-size);
  }

  .keyIcon {
    font-size: var(--icon-size);
  }
}
