.circle {
  touch-action: none;
  transform: translate3d(0, 0, 0);
  transform-origin: 50% 50% 0;
  user-select: none;
}

.circleMenu {
  block-size: var(--menu-size);
  inline-size: var(--menu-size);
  margin: 0 auto;
  max-inline-size: 100%;
}

.circleMenu svg {
  display: block;
  overflow: visible;
  position: relative;
}

.circleMenu a {
  cursor: pointer;
  outline: none;
}

.circleMenu symbol {
  /* KEEP THIS so that text will not get cut off
  it it is wider than the icon width */
  overflow: visible;
}

.note {
  font-size: 2rem;
}

.enharmonic {
  fill: var(--info);
}

.selected .sector.sector {
  fill: var(--secondary);
}

.selected .note.note {
  fill: var(--white);
}

.item {
  color: var(--default);
  -webkit-tap-highlight-color: transparent;
}

.item .note {
  fill: var(--default-light);
}

.item .sector {
  fill: var(--white);
  stroke: var(--info);
  transition: all 0.1s linear;
}

.item .indicator {
  display: none;
  fill: var(--primary);
}

.item:hover .sector {
  fill: var(--hover-color);
}

.selected:hover .sector {
  fill: var(--secondary);
}

.transposed .indicator,
.transposed:hover .indicator {
  display: block;
}

.menuTrigger {
  fill: var(--info);
  pointer-events: auto;
}
