.is-hidden {
  display: none; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  color: currentColor; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.circle-menu {
  margin: 1rem auto;
  width: 24em;
  height: 24em; }
  @media screen and (max-width: 700px) {
    .circle-menu {
      width: 18em;
      height: 18em;
      margin: 0.5rem auto 0; } }
  .circle-menu svg {
    display: block;
    overflow: visible;
    margin: 0 auto; }
  .circle-menu a {
    outline: none;
    cursor: pointer;
    /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */ }
  .circle-menu symbol {
    overflow: visible; }

.notes-container .note {
  font-size: 2.5em; }
.notes-container .with-enharmonic {
  font-size: 2em; }
  .notes-container .with-enharmonic .flat, .notes-container .with-enharmonic .sharp {
    font-size: 60%; }
.notes-container .enharmonic {
  font-size: 1.75rem;
  fill: #959EA5; }

.item {
  color: #3A3B3D;
  -webkit-tap-highlight-color: transparent; }
  .item .note {
    fill: #535457; }
  .item:hover .sector {
    fill: #eee; }
  .item .sector {
    -webkit-transition: all .1s linear;
            transition: all .1s linear;
    fill: #fff;
    stroke: #959EA5; }
  .item .indicator {
    display: none;
    fill: #FF951E; }

.is-selected .sector, .is-selected.item:hover .sector {
  fill: #007FB2; }
.is-selected .note, .is-selected.item:hover .note {
  fill: white; }

.is-transposed .indicator, .is-transposed:hover .indicator {
  display: block; }

.menu-trigger {
  pointer-events: auto;
  fill: #959EA5; }

.page-content {
  padding: 2em; }

.tr-selection__arrow {
  margin-top: .75em;
  color: #959EA5;
  font-size: 4em;
  text-align: center; }

.mdl-card__title .icon {
  position: absolute;
  font-size: 4em; }

.mdl-card__title {
  color: #fff;
  background: #007FB2; }

.tr-selector {
  overflow: hidden; }

.mdl-card__supporting-text {
  width: 100%; }

.tr-instruments__list {
  overflow: auto;
  padding: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  z-index: 999; }
  .tr-instruments__list input {
    position: absolute;
    margin: -999em; }
  .tr-instruments__list li {
    display: inline-block;
    float: left;
    width: 25%;
    height: 5rem;
    border-bottom: 1px solid #ccd0d4;
    border-right: 1px solid #ccd0d4; }
    .tr-instruments__list li:nth-child(4n) {
      border-bottom: 1px solid #ccd0d4;
      border-right: 0; }
    .tr-instruments__list li:nth-last-of-type(-n+4) {
      border-bottom: 0; }
  .tr-instruments__list .instruments__name {
    display: inline-block;
    line-height: 1; }
  .tr-instruments__list label {
    display: block;
    padding: 0.5rem;
    width: 100%;
    height: 5rem;
    color: #3A3B3D;
    text-align: center;
    font-size: .75em;
    cursor: pointer; }
  .tr-instruments__list input:checked + label {
    background-color: rgba(0, 127, 178, 0.3); }
  .tr-instruments__list .icon {
    display: block;
    margin: 0 auto 0.5rem;
    font-size: 3em; }

.tr-messages {
  margin: 1rem auto 2rem;
  max-width: 32em;
  height: 5rem;
  text-align: center; }
  @media screen and (max-width: 770px) {
    .tr-messages {
      height: 4rem;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0; } }
  .tr-messages__message {
    font-size: 1.75rem;
    line-height: 1.25;
    padding: 1rem 0;
    vertical-align: middle; }
    @media screen and (max-width: 770px) {
      .tr-messages__message {
        font-size: 1rem;
        padding: 1rem 0.5rem; } }
    .tr-messages__message--error {
      color: #FE3D42; }
    .tr-messages__message--default {
      font-weight: 100; }

.original-note {
  color: #007FB2; }

.transpose-note {
  color: #FF951E; }
