@import "reset";
@import "utility";
@import "bourbon";
@import "neat";
@import "variables";

$dark-blue: #34495e;
$mobile: new-breakpoint(max-width 770px 12);

@import "typography";
@import "iscroll";

header {
    text-align: center;
    padding: spacer(1) spacer(1) 0;
    
    @include media($mobile) {
        padding: spacer(.5) spacer(.5) 0;
    }
    

    .header-logo {
        background: url('../images/transpose-logo.svg') no-repeat 50%;
        background-size: contain;
        height: 5em;

        @include media($mobile) {
            height: 2.25em;
        }
    }

    h1 {
        letter-spacing: .15em;
        font-weight: 100;
        font-size: 3em;
        color: $default;
        visibility: hidden;
        margin: 0;
        
        @include media($mobile) {
            font-size: 2em;
            margin-bottom: 0;           
        }    
    }
}

h2 {
    margin-bottom: spacer(1);
    letter-spacing: .05em;
    font-weight: 100;
    font-size: 1.75em;

    @include media($mobile) {
        font-size: 1.25em;
        margin-bottom: spacer(.5);
    }    
}

.tr-layout__main {
    @include outer-container;
    padding: spacer(1);
    text-align: center;

    @include media($mobile) {
        padding: spacer(.5);
    }    
}

.sharp, .flat {
    font-size: 75%;
    position: relative;    
}

.sharp {
    top: -.125em;
    left: 0;
}

.flat {
    top: -.125em;
    left: -.1em;
}

@import 'selection';
@import 'instruments';
@import 'messages';
@import 'svg-menu';