.container {
  block-size: 100%;
  display: grid;
  gap: var(--spacer);
  inline-size: 100%;
  margin: auto;
  max-inline-size: var(--medium);
  padding-block: var(--spacer-double);
}

@media (width >= 45rem) {
  .container {
    padding-block: var(--spacer-triple);
  }
}
