.chordContainer {
  align-items: start;
  display: grid;
  gap: var(--spacer-double);
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.scales {
  margin: auto;
  max-inline-size: 50rem;
}
