.chordContainer {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-double);
  justify-content: center;
}

.chords {
  flex: 1 1 20rem;
  max-inline-size: 50rem;
  min-inline-size: 20rem;
}

.scales {
  margin: auto;
  max-inline-size: 50rem;
}
