.chordContainer {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-double);
}

.chords {
  min-inline-size: 20rem;
}

.scales {
  margin: auto;
  max-inline-size: 50rem;
}
