
.picker {
  --list-border: 0.0625rem solid var(--info);

  background: none;
  block-size: 100vh;
  border: 0;
  inset: 0;
  overflow: hidden;
  padding: 4rem var(--spacer) var(--spacer);
}

.picker::backdrop {
  backdrop-filter: blur(0.25rem);
  background: var(--default-transparent);
}

.form {
  overflow: hidden;
}

.form, .list {
  block-size: 100%;
}

.list {
  background: var(--picker-background);
  border: var(--list-border);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: auto;
  max-block-size: 35rem;
  overflow: auto;
  padding: 0;
}

.close {
  background: none;
  border: 0;
  color: var(--primary);
  font-size: 1.75rem;
  inset-block-start: 1rem;
  inset-inline-end: 3rem;
  position: absolute;
  z-index: 1001;
}

.close:hover,
.close:focus {
  color: var(--secondary);
  outline: 0;
}

.item {
  border-bottom: var(--list-border);
  border-right: var(--list-border);
  height: 7rem;
  position: relative;
  text-align: center;
}

.item:nth-child(4n) {
  border-bottom: var(--list-border);
  border-right: 0;
}

.item:nth-last-of-type(-n + 4) {
  border-bottom: 0;
}

.button {
  background: none;
  border: 0;
  color: var(--default-light);
  height: 100%;
  padding: 1rem;
  text-align: inherit;
  width: 100%;

  &:hover {
    color: var(--secondary);
  }
}

body:has(.picker[open]) {
  overflow: hidden;
}
