.picker {
  --list-border: 0.0625rem solid var(--info);

  background: none;
  block-size: 100vh;
  border: 0;
  inline-size: 100vw;
  inset: 0;
  max-block-size: 100vh;
  max-inline-size: 100vw;
  overflow: hidden;
}

@media (width <= 768px) {
  .picker {
    padding: 2.5rem 0.5rem 0.5rem;
  }

  .form {
    padding: 0;
  }
}

.picker[open] {
  animation: fadein 0.3s linear forwards;
}

@keyframes fadein{
  0%{
    opacity:0;
  }

  100%{
    opacity:1;
  }
}

.picker::backdrop {
  backdrop-filter: blur(0.25rem);
  background: var(--default-transparent);
}

.form {
  overflow: hidden;
  padding: var(--spacer);
}

.form, .list {
  block-size: 100%;
}

.list {
  background: var(--picker-background);
  border: var(--list-border);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: auto;
  max-block-size: 35rem;
  overflow: auto;
  padding: 0;
}

@media (width <= 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
    inline-size: 100%;
    margin-inline: 0;
    max-block-size: calc(100vh - 3rem);
    max-inline-size: 100%;
    overflow: hidden auto;
  }
}

.close {
  background: none;
  border: 0;
  color: var(--primary);
  font-size: 1.75rem;
  inset-block-start: 1rem;
  inset-inline-end: 3rem;
  position: absolute;
  z-index: 1001;
}

.close:hover,
.close:focus {
  color: var(--secondary);
  outline: 0;
}

@media (width <= 768px) {
  .close {
    font-size: 1.5rem;
    inset-block-start: 0.5rem;
    inset-inline-end: 0.5rem;
  }
}

.item {
  aspect-ratio: 1;
  border-block-end: var(--list-border);
  border-inline-end: var(--list-border);
  inline-size: 100%;
  position: relative;
  text-align: center;
}

.item:nth-child(4n) {
  border-block-end: var(--list-border);
  border-inline-end: 0;
}

.item:nth-last-of-type(-n + 4) {
  border-block-end: 0;
}

@media (width <= 768px) {
  .item:nth-child(4n) {
    border-inline-end: var(--list-border);
  }

  .item:nth-child(3n) {
    border-inline-end: 0;
  }

  .item:nth-last-of-type(-n + 4) {
    border-block-end: var(--list-border);
  }

  .item:nth-last-of-type(-n + 2) {
    border-block-end: 0;
  }
}

.button {
  background: none;
  block-size: 100%;
  border: 0;
  color: var(--default-light);
  inline-size: 100%;
  padding: 1rem;
  text-align: inherit;

  &:hover {
    color: var(--secondary);
  }
}

@media (width <= 768px) {
  .button {
    padding: 0.375rem;
  }
}

body:has(.picker[open]) {
  overflow: hidden;
}
