.picker {
  --list-border: 0.0625rem solid var(--info);

  background: none;
  block-size: 100vh;
  border: 0;
  inline-size: 100vw;
  inset: 0;
  max-block-size: 100vh;
  max-inline-size: 100vw;
  overflow: hidden;
}

.picker[open] {
  animation: fadein 0.3s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.picker::backdrop {
  backdrop-filter: blur(0.25rem);
  background: var(--default-transparent);
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-block-size: 100%;
  overflow-y: auto;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.close {
  align-self: flex-end;
  background: none;
  border: 0;
  color: var(--primary);
  cursor: pointer;
  font-size: 1rem;
  margin-block-end: 0.125rem;
  padding: 0.125rem 0.25rem;
}

.close:hover,
.close:focus {
  color: var(--secondary);
  outline: 0;
}

.list {
  background: var(--picker-background);
  border: var(--list-border);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  inline-size: min(35rem, calc(100vw - 2rem));
  list-style: none;
  overflow: hidden;
  padding: 0;
}

@media (width >= 45rem) {
  .form {
    padding: var(--spacer);
  }

  .close {
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
  }

  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.button {
  aspect-ratio: 2;
  background: none;
  border: 0;
  border-block-end: var(--list-border);
  border-inline-end: var(--list-border);
  color: var(--default-light);
  cursor: pointer;
  inline-size: 100%;
  padding: 1rem 0.25rem;
  text-align: center;

  &:hover {
    color: var(--secondary);
  }
}

.button:nth-child(3n) {
  border-inline-end: 0;
}

.button:nth-last-of-type(-n + 2) {
  border-block-end: 0;
}

@media (width >= 45rem) {
  .button {
    aspect-ratio: 1.5;
    padding: 1rem;
  }

  .button:nth-child(3n) {
    border-inline-end: var(--list-border);
  }

  .button:nth-child(4n) {
    border-inline-end: 0;
  }

  .button:nth-last-of-type(-n + 2) {
    border-block-end: var(--list-border);
  }

  .button:nth-last-of-type(-n + 4) {
    border-block-end: 0;
  }
}

body:has(.picker[open]) {
  overflow: hidden;
}
