.header {
  --logo-height: 2rem;
  --header-gap: var(--spacer-half);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--header-gap);
  justify-content: flex-start;
  padding-inline: var(--spacer);
}

@media screen and (width >= 45rem) {
  .header {
    --logo-height: 3rem;
    --header-gap: 2rem;

    justify-content: center;
    text-align: center;
  }
}

.logoLink {
  display: block;
}

.logo {
  block-size: var(--logo-height);
  inline-size: auto;
}

.nav {
  align-items: center;
  display: flex;
  gap: var(--spacer);
}

.link {
  border-block-end: 0.25rem solid transparent;
  color: var(--secondary);
  padding: 0.5rem 0;
  text-decoration-line: none;
}

.active {
  border-color: currentcolor;
}
