.notesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer);
  inline-size: 100%;
  padding: var(--spacer-half) 0;
}

.notes {
  --gap: 0.325rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.note:not(:last-child)::after {
  color: var(--default-light);
  content: '·';
  display: inline-block;
  margin-inline-start: var(--gap);
  opacity: 0.5;
}
