.notes {
  --gap: 0.325rem;

  display: flex;
  gap: var(--gap);
  padding: var(--spacer) 0;
}

.label {
  display: block;
  margin-inline-end: var(--spacer);
}

.note:not(:last-child)::after {
  color: var(--default-light);
  content: '·';
  display: inline-block;
  margin-inline-start: var(--gap);
  opacity: 0.5;
}
